# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/


# Ignore logs and temporary files
*.log
*.tmp
*.temp
*.html

# Ignore compiled files
*.egg
*.egg-info/
dist/
build/

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Other
*.zip
*.xml