# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environments
.venv/
venv/

# Ignore logs and temporary files
*.log
*.tmp
*.temp
*.html
temp/
output/

# Ignore compiled files
*.egg
*.egg-info/
dist/
build/
*.pkl

# Ignore IDE/editor specific files
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*
.virtual_documents/
*/.virtual_documents/*

# Other
*.zip
*.xml
.rpa/
*/work-items-out/*
testrun/*
.~lock*
